<h1>Teams</h1>
<hr>
<table class="table table-striped table-hover ">
	<tr>
		<th>#</th>
		<th>Team Name</th>
		<th>Nationality</th>
		<th  class="text-center">Wins</th>
		<th  class="text-center">Points</th>
		<th class="text-center">Details</th>
	</tr>
	<tr ng-repeat="team in teamsList"  ng-class-even="'even-tr'">
		<td>{{ team.position }}</td>
		<td><a href="#/team/{{ team.Constructor.constructorId}}" > {{team.Constructor.name}} </a></td>
		<td>
			<img ng-src="images/{{ team.Constructor.nationality }}.png" alt="" /> {{ team.Constructor.nationality }}
		</td>
		<td class="text-center">{{ team.wins }}</td>
		<td class="text-center">{{ team.points }}</td>
		<td class="text-center"><a href="{{ team.Constructor.url}}" title="{{ team.Constructor.name }} on Wikipedia" > Wikipedia </a></td>
	</tr>
</table>