
<div class="row">
	<div class="jumbotron">
		<h1><img ng-src="images/teams/{{ teamInfo.constructorId }}.png" alt="" /> 
			{{ teamInfo.name }} </h1>
			<p>Country: <img ng-src="images/{{ teamInfo.nationality }}.png" /> {{ teamInfo.nationality }}</p>
			<p>Info: <a href="{{ teamInfo.constructorId }}" title="{{ teamInfo.name }} - Wiki">Wikipedia.org</a></p>
	</div>
</div>

<h2>{{ teamInfo.name }}'s Races 2013</h2>
<hr>
<table class="table table-striped table-hover" >
	<tr>
		<th>Round</th>
		<th>GrandPrix</th>
		<th  class="text-center">
			Position of <a href="#/driver/{{ driver1.driverId }} " > {{ driver1.familyName }}	</a>
		</th>
		<th  class="text-center">
			Position of <a href="#/driver/{{ driver2.driverId }} " >  {{ driver2.familyName }} 	</a>
		</th>
		<th  class="text-center">Points</th>
	</tr>
	<tr ng-repeat="teamRace in teamRaces"  ng-class-even="'even-tr'">
		<td>{{ teamRace.round }}</td>
		<td><img ng-src="images/{{ teamRace.Circuit.Location.country }}.png" alt="" /> {{ teamRace.raceName }}</td>
		<td  class="text-center">{{ teamRace.Results[0].position }}</td>
		<td  class="text-center">{{ teamRace.Results[1].position }}</td>
		<td  class="text-center">{{ totalScore(teamRace) }}</td>
	</tr>
</table>


